<div class="orders-list">
  <% if @narwhal_orders.present? %>
    <% @narwhal_orders.each do |order| %>
      <%= link_to "https://#{@current_shopify_session.domain}/admin/orders/#{12345}", target: "_top", class: "order-wrapper" do %>
        <%= image_tag("narwal_flag.svg", class: "order-icon") %>
        <div class="order">
          <div class="order-content">
            <div><strong><%= order.customer.strip.size > 0 ? order.customer : 'Anonymous' %></strong> made a narwhal order.</div>
            <div>ORDER <%= order.name %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No Narwhal-Order yet! They will show up here as soon as this app detects one.</p>
  <% end %>
</div>
<%= paginate @narwhal_orders %>
